.specialServices {
    width: 100%;
    height: 378px;
}
.specialServices .special{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #941b80;
    align-items: center;
    flex-direction: row;
    border-radius: 16px;
    margin-top: 24px;
    padding: 16px;
    position: relative;
}
.specialServices .special .specialRight{
    width: 416px;
    min-height: 356px;
    margin-left: 12px;
    padding-top: 24px;
    position: relative;
}
.specialServices .special .specialRight .specialTitle{
    width: 100%;
    height: 50%;
    padding: 0 24px 0 0;
}
.specialServices .special .specialRight .spImage{
    width: 360px;
    height: 300px;
    position: absolute;
    right: 47px;
    bottom: -30px;
}
.specialServices .special .specialRight .spImage img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.specialServices .special .specialRight .specialTitle .spLogo{
    width: 100%;
    height: 32px;
    text-decoration: none;
}
.specialServices .special .specialTitle h5{
    color: white;
    margin-top: 10px;
    font-weight: 400;
}
.specialServices .special .specialTitle .button{
    width: 106px;
    height: 40px;
    display: flex;
    flex-direction: row;
}
.specialServices .special .specialTitle .button .button1{
    width: 106px;
    height: 40px;
    border-radius: 10px;
    z-index: 99999;
    display: flex;
    border: 1px solid white;
    padding: 8px 15px;
    margin-top: 10px;
    text-decoration: none;
    align-items: center;
}
.specialServices .special .specialTitle .button .button1 .spIcon{
    margin-right: 8px;
}
.specialServices .special .specialTitle .button .button1 .spIcon svg{
    color: white;
    padding: 5px 0 0 0;
    margin-top: 3px;
    font-size: 30px;
}
.specialServices .special .specialTitle .button .button1 span{
    font-size: 13px;
    color: white;
    margin-right: 3px;
}
.specialServices .special .specialTitle .spLogo{
    width: 100%;
    height: 100%;
    align-items: center;
}
.specialServices .special .specialTitle .spLogo .spLogo1{
    width: 128px;
    height: 32px;
    fill: white;
    /*margin-top: 24px;*/
}

.specialServices .special .specialRight .specialTitle .spLogo .spLogo1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.specialServices .special .specialLeft{
    width: 868px;
    height: 356px;
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    background-color: white;
    position: absolute;
    left: 12px;
    padding: 0 16px;
    border-radius: 8px;

}
.specialServices .special .specialLeft .send{
    width: 836px;
    height: 66px;
    display: flex;
    flex-direction: row;
    /*background-color: #ff0000;*/
    position: absolute;
    top: 0;
    align-items: center;
    padding: 16px 0;
    justify-content: right;
}
.specialServices .special .specialLeft .send .send1{
    display: flex;
    flex-direction: row;
    justify-content: right;
}
.specialServices .special .specialLeft .send .send1 h4{
    font-size: 16px;
    margin-right: 8px;
    align-items: center;
}
.specialServices .special .specialLeft .send .send1 .sendIcon{
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}
.specialServices .special .specialLeft .send .send1 .sendIcon svg{

}
.specialServices .special .specialLeft .send .send2{
    font-size: 12px;
    cursor: pointer;
    display: flex;
    color: #b12ba4;
    position: absolute;
    left: 10px;
}
.specialServices .special .specialLeft .send .send2 .send2a{
    font-size: 12px;
}
.specialServices .special .specialLeft .leftDown{
    width: 836px;
    height: 280px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 28px;
    padding: 0 0 20px 0;
}
.specialServices .special .specialLeft .leftDown .leftImage{
    width: 116px;
    height: 116px;
    background-color: coral;
}
.specialServices .special .specialLeft .leftDown .leftImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}